# Librerías

In [6]:
import pandas as pd

# Rutas

In [7]:
BANK_INPUT_PATH = '../../1_Datasets/1_Landing/Bank_Data.csv'

# Lectura

In [8]:
bank_df = pd.read_csv(BANK_INPUT_PATH)

# Preprocesado

In [9]:
bank_df = bank_df.rename(columns = {
    'Personal Loan': 'PersonalLoan',
    'Securities Account': 'SecuritiesAccount',
    'CD Account': 'CDAccount',
})

bank_df

,ID,CCAvg,Mortgage,PersonalLoan,SecuritiesAccount,CDAccount,Online,CreditCard
0,1,1.6,0,0,1,0,0,0
1,2,1.5,0,0,1,0,0,0
2,3,1.0,0,0,0,0,0,0
3,4,2.7,0,0,0,0,0,0
4,5,1.0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...
4995,4996,1.9,0,0,0,0,1,0
4996,4997,0.4,85,0,0,0,1,0
4997,4998,0.3,0,0,0,0,0,0
4998,4999,0.5,0,0,0,0,1,0
4999,5000,0.8,0,0,0,0,1,1

# Escritura

In [10]:
bank_df.to_csv('../../1_Datasets/2_Staging/Bank_Data.csv', index=False)