# Librerías

In [1]:
import pandas as pd

# Rutas

In [4]:
PROFESSIONAL_INPUT_PATH = '../../1_Datasets/1_Landing/Professional_Data.csv'

# Lectura

In [5]:
professional_df = pd.read_csv(PROFESSIONAL_INPUT_PATH)

# Preprocesado

In [9]:
professional_df

        ID  Education  Experience  Income
0        1          1           1      49
1        2          1          19      34
2        3          1          15      11
3        4          2           9     100
4        5          2           8      45
...    ...        ...         ...     ...
4995  4996          3           3      40
4996  4997          1           4      15
4997  4998          3          39      24
4998  4999          2          40      49
4999  5000          1           4      83

[5000 rows x 4 columns]

# Escritura

In [8]:
professional_df.to_csv('../../1_Datasets/2_Staging/Professional_Data.csv', index=False)